.planets_h1 {
  text-align: left;
  margin-left: 1rem;
}

.planets_row {
  margin-top: 1rem;
  margin-left: 1rem;
}
.planets_row,
.header {
  border-bottom: 1px solid #d8d499;
  padding-bottom: 3px;
}
.planet_card {
  font-size: 1rem;
  box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  margin-top: 3rem;
  margin-bottom: 10rem;
  margin-right: 2rem;
  margin-left: 2rem;
  background-color: yellowgreen !important;
}
.starwars_input {
  width: 22rem;
  margin-left: 58.8rem;
  text-align: center;
  border-radius: 3rem;
  height: 2.5rem;
  border: 0px;
  margin-top: -3rem;
}

.planet_card:hover {
  transform: translate3D(0, -1px, 0) scale(1.2);
  color: aqua;
}

.hover:hover {
  background-color: aqua;
}

.starwars_input:focus {
  border: none !important;
}

@media only screen and (max-width: 770px) {
  .starwars_input {
    margin-left: 11rem;
    width: 10rem;
  }
  .planet_card {
    justify-content: center;
  }
}
