.login_container {
  background-repeat: no-repeat;
  background-size: 72rem;
  width: 20%;
  height: 35rem;
  border-radius: 4rem;
}

.button1 {
  background-color: #d6eaf8;
  color: black;
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  margin-left: 2rem;
  border-radius: 3rem;
}

.login_input1 {
  width: 20rem;
  margin-left: 3.3rem;
  text-align: center;
  border-radius: 3rem;
  margin-top: 0.5rem;
  background-color: #d6eaf8;
}

.login_input2 {
  width: 20rem;
  margin-left: 3.3rem;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 3rem;
  background-color: #d6eaf8;
}

.formgroup {
  float: left;
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.login_button1:hover,
.login_button1:active,
.login_button1:focus,
.button2:hover,
.button2:active,
.button2:focus,
.button3:hover,
.button3:active,
.button3:focus {
  background-color: #d6eaf8;
  color: black;
}

.login_input1:hover,
.login_input1:active,
.login_input1:focus,
.login_input2:hover,
.login_input2:active,
.login_input2:focus {
  background-color: #d6eaf8;
  color: black;
}

@media only screen and (max-width: 770px) {
  .button1 {
     margin-left: 0rem !important;
  }
  .login_button1:hover,
.login_button1:active,
.login_button1:focus,
.button2:hover,
.button2:active,
.button2:focus,
.button3:hover,
.button3:active,
.button3:focus {
  background-color: #d6eaf8;
  color: black;
}
}
